<div class="side-bar">


    <div class="avator" id="avator">
        <div class="title">
            <a href="#" class="text-underline">About Me</a>
        </div>
        <img src="<%= theme.avator %>" class="ava-img">
        <h3 class="author"><%= config.author %></h3>
        <div class="icon-list">
            <!-- <a href="<%= theme.weibo %>"><i class="iconfont icon-weibo icon-item"></i></a> -->
            <!-- <a href="<%= theme.email %>"><i class="iconfont icon-email icon-item"></i></a> -->
            <a href="<%= theme.github %>"><i class="iconfont icon-github icon-item"></i></a>
            <!-- <a href="<%= theme.linkedin %>"><i class="iconfont icon-linkedin icon-item"></i></a> -->
        </div>
        <%- partial('_partials/tags') %>
        <div class="title">
            <h3>Pushbullet</h3>
            <p>
                <a class="pushbullet-subscribe-widget" data-channel="flokorom_evert_release" data-widget="button" data-size="small"></a>
                <script type="text/javascript">(function(){var a=document.createElement('script');a.type='text/javascript';a.async=true;a.src='https://widget.pushbullet.com/embed.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b);})();</script>
            </p>
            <p>
                <a class="pushbullet-subscribe-widget" data-channel="flokorom_oneplus7_release" data-widget="button" data-size="small"></a>
                <script type="text/javascript">(function(){var a=document.createElement('script');a.type='text/javascript';a.async=true;a.src='https://widget.pushbullet.com/embed.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b);})();</script>
            </p>
        </div>
    </div>

</div>